<!-- views/partials/header.ejs -->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge"> <!-- † -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel='stylesheet' href='/style/bootstrap.css' />
        <link rel='stylesheet' href='/style/styles.css' />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">        
        <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src='/scripts/vendor/bootstrap.js'></script>
    </head>
    <body>
        <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#hamburgerMenu" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/">Simple Blog</a>
                        </div>
                        <div class="collapse navbar-collapse" id="hamburgerMenu">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="/">Sup</a></li>
                                <% if(!(currentUser)) { %>
                                    <li><a href="/login">Login</a></li>
                                    <li><a href="/signup">Sign Up</a></li>
                                <% } else { %>
                                    <li><a href="/profile">Profil</a></li>
                                    <li><a href="/logout">Logout</a></li>
                                <%} %>
                            </ul>
                        </div>
                </div>
            </nav>
            <% if(error && error.length > 0){ %>
                <div class="alert alert-danger text-center" role="alert">
                    <%= error %>
                </div>
            <% } %>
            <% if(success && success.length > 0){ %>
                <div class="alert alert-success text-center" role="alert">
                    <%= success %>
                </div>
            <% } %>