<% include ./partials/header %>
  <!-- views/index.ejs -->
  <!DOCTYPE html>
  <html>

  <head>
    <title>
      <%= title %>
    </title>
    <script src='/scripts/functions.js'></script>
  </head>

  <body>
    <div class="page-header text-center">
      <h1></h1>
      <!-- <a href="/login" class="btn btn-default btn-sm">Login</a> -->
    </div>
    <div class="container-fluid">

    </div>