<% include ./partials/header %>
<!-- views/profile.ejs -->
		<div class="container">

			<div class="page-header text-center">
				<h1><span class="fa fa-users"></span> Profile Page</h1>
				<a href="/logout" class="btn btn-default btn-sm">Logout</a>
			</div>
			<div class="row">
				<!-- LOCAL INFORMATION -->
				<div class="col-sm-6">
					<div class="well">
						<h3><span class="fa fa-user"></span> Local</h3>
							<p>
								<strong>id</strong>: <%= user.id %><br>
								<strong>username</strong>: <%= user.username %><br>
								<strong>last login:</strong> <%= user.modified %><br>
							</p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
